# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# intellij
.idea

# other
.vscode
.vscode/settings.json
.DS_Store

# build dirs
output/
target/
dist/
build/

# downloads
dataset.csv